<%- include('./partials/header') %>

<section class="container">
  <br />
  <div style="display: flex;">
    <h1>
      404, Not Found
    </h1>
    <img
      src="/images/error.png"
      alt="error"
      style="
        width: 25px;
        object-fit: contain;
        margin-left: 20px;
        margin-bottom: 10px;
      "
    />
  </div>
  <p>We're sorry, this resource is not found</p>
  <br />
  <a href="/dashboard" class="btn">Go to Dashboard</a>
</section>

<%- include('./partials/footer') %>
