<%- include('./partials/header') %>

<section class="container">
  <h1 class="large text-primary">Add Post</h1>
  <p class="lead"><i class="fas fa-heart"></i> The Developer Community</p>
  <div class="post-form">
    <div class="post-form-header bg-primary">
      <h3>Say Something...</h3>
    </div>
    <form class="form my-1" action="/add-post" method="POST">
      <div class="form-group">
        <input
          type="text"
          placeholder="Title"
          name="title"
          required
          style="font-size: medium;"
        />
      </div>
      <textarea
        cols="30"
        rows="5"
        placeholder="Create a Post"
        name="post"
      ></textarea>
      <input type="submit" value="Submit" class="btn btn-dark my-1" />
    </form>
  </div>
</section>

<%- include('./partials/footer') %>
