<%- include('./partials/header') %>

<section class="container">
  <br />
  <div style="display: flex;">
    <h1 class="large">
      Error
    </h1>
    <img
      src="/images/error.png"
      alt="error"
      style="
        width: 45px;
        object-fit: contain;
        margin-left: 20px;
        margin-bottom: 25px;
      "
    />
  </div>
  <p>There occurs an error from our side.</p>
  <p>We are looking into the matter. Please try again after some time.</p>
</section>

<%- include('./partials/footer') %>
