<%- include('./partials/header') %>

<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Developer Book</h1>
      <p class="lead">
        Create developer profile/portfolio, share posts and interact with other
        developers
      </p>
      <div class="buttons">
        <a href="/register" class="btn btn-primary">Sign Up</a>
        <a href="/login" class="btn">Login</a>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/footer') %>
